site_name: Agente Jurídico RAG (TCC)
site_description: Documentação técnica do Agente de IA para Direito Brasileiro
site_author: Diego Paes

theme:
  name: material
  palette: 
    scheme: default
    primary: indigo
    accent: blue
  features:
    - navigation.sections
    - content.code.copy

plugins:
  - search
  - mermaid2
  - mkdocstrings:
      handlers:
        python:
          paths: [src] # Onde está seu código fonte

nav:
  - Home: index.md
  - Arquitetura Técnica:
      - Ingestão de Dados: api/ingestion.md
      - Motor RAG: api/rag.md
      - Validação: api/validator.md
      - Configuração: api/config.md